/*navbar*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding: 0 !important;
}
img{
    width: 100px;
}
/* .navbar-brand
{
    width: 5;
    padding: left 0;;
} */
 /* #nav-bar img
{
    width: 1;
    height: 1;
} */
.navbar-nav li
{
 padding: 0 10px;

}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
}
.fa-bars
{
    color: #fff;
    font-size: 30px;
    outline: #fff;
}
.navbar-toggler
{
   outline: #5f1782;
}

.btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    columns: #fff;
    float: right;
    width: 100px;
    white-space: normal !important;
    word-wrap: break-word !important;
    
}

